<nav class="w-csreen  z-[2] bg-zinc-500 text-white font-bold text-2xl py-3 px-5 flex gap-x-5 text-center items-center justify-center">
   <!-- <div class="flex gap-x-5">
    <div><i class="text-3xl ri-home-gear-line"></i>
        <a class="font-bold text-3xl" href="/">Home</a> </div>
    <a class="font-bold text-3xl" href="/about">About Us</a>
   </div>
    <div>
    <a class="font-bold text-3xl" href="/register">Register</a>
    <span class="font-bold text-3xl">/</span>
    <a class="font-bold text-3xl" href="/login">Login</a>
    <span class="font-bold text-3xl">/</span>
    <a class="font-bold text-3xl" href="/log-out">log-out</a>
    </div> -->


    <%if(user){%>
     
        <a href="/profile">Home</a>
      
    <%}else{%>

        <a href="/">Home</a>
        <a href="login">Login</a>
    <%}%>
    <a href="/all-users">all-users</a>
    <a href="/about">about-us</a>
</nav>