<nav class="w-csreen  bg-zinc-500 text-white py-5 px-5 flex gap-x-5 justify-center">
    <a class="font-bold text-3xl" href="/">Home</a>
    <a class="font-bold text-3xl" href="/register">Register</a>
    <a class="font-bold text-3xl" href="/about">About Us</a>
</nav>