
  
  <%- include("./partials/header")%>

  <%- include("./partials/nav")%>



<div  class="ml-[22%] mt-[2%]  uppercase drop-shadow-lg  font-bold text-5xl bg-zinc-200 text-center py-[10%] w-[60%] justify-center items-center ">


  <h1 class="text-blue-500">About us ! </h1>
  
 <div class="w-1/2 text-xl bg-transparent-200 ml-[24%] mt-2 border-2 border-black rounded-lg  shadow-lg shadow-zinc-500/100 capitalize ">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est eius placeat sapiente repellat enim ullam quam aliquid voluptatum accusamus, vitae autem odio architecto, nostrum natus, aliquam sunt quibusdam exercitationem ratione.
 </div>
  
  
<a href="">
  <button class=" hover:bg-red-100 text-xl border-black border-2 rounded bg-green-200 py-2 px-5 mt-[5%]">Start your journey </button>
</a>

</div>
  <%- include("./partials/footer")%>