<%- include("./partials/header") %>
<div class="post w-full h-screen bg-zinc-200 p-10 flex justify-center">
    <div class="postform w-1/2 bg-zinc-500 p-10 rounded-lg">
        <h1 class="text-5xl text-white font-bold text-center mb-10 capitalize">edit your post !</h1>
        <form action="/edit-post/<%=postid%>" method="post" enctype="multipart/form-data">
            <input type="file" name="media" id="" class="w-full text-3xl border-2
            border-black rounded-lg mb-5 p-4 bg-transparent">
            <input value="title" type="text" name="title" id="" class="w-full text-3xl border-2
            border-black rounded-lg p-2 bg-transparent  hover:bg-red-100 " placeholder="Put your Title">
            <br>
            <input type="submit" name="" id="" value="Add Post" class="text-3xl border-2 bg-blue-200 rounded-lg mt-10 ml-[35%]">
        </form>

    </div>
</div>

<%- include("./partials/footer") %>