
  
  <%- include("./partials/header")%>



<div>

  <h1 class="ml-[22%] text-3xl font-bold underline font-bold text-5xl bg-red-100 text-center py-[10%] w-[60%] flex justify-center items-center">Thi is home page </h1>


</div>
  <%- include("./partials/footer")%>