
  
  <%- include("./partials/header")%>

  <%- include("./partials/nav")%>



<div  class="ml-[22%] mt-[5%] shadow-lg shadow-cyan-500/50  uppercase drop-shadow-lg  font-bold text-5xl bg-zinc-200 text-center py-[10%] w-[60%] justify-center items-center">


  <h1 >This is home page </h1>
  

  
  
<a href="">
  <button class=" hover:bg-pink-100 text-xl border-black border-2 rounded bg-cyan-500 shadow-lg shadow-cyan-500/100  py-2 px-5 mt-[5%]">Start your journey </button>
</a>

</div>
  <%- include("./partials/footer")%>