
  
  <%- include("./partials/header")%>

  <%- include("./partials/nav")%>



<div  class="ml-[22%] mt-[1%]  uppercase drop-shadow-lg  font-bold text-5xl bg-zinc-200 text-center  w-[60%] ">


  <h1 >Login user </h1>
  
  <form action="/signin" method="post" class="flex-row  ">
    <input  name="username" type="text" name="" id=""  placeholder="username" class="border-black text-xl rounded-lg border-2 outline-none mt-2 bg-white-100 w-1/2 p-2">
    <input  name="email" type="email" name="" id=""  placeholder="email" class="border-black text-xl rounded-lg border-2 outline-none mt-2 bg-white-100 w-1/2 p-2">
    <input  name="password" type="password" name="" id=""  placeholder="*********" class="border-black text-xl rounded-lg border-2 outline-none mt-2 bg-white-100 w-1/2 py-2 px-2">

     <br>
     <a href="" class="text-xl w-1/2  mt-0 ml-[-18%] text-blue-500 lowercase">Forgot your password !</a>
<br>
     
      <button class=" hover:bg-red-100 text-xl border-black border-2 rounded bg-green-200 py-2 px-5 mt-[5%]">Login </button>
   
  </form>
  
  


</div>
  <%- include("./partials/footer")%>